BASE_URL=http://localhost:8080
API_KEY=123
MOCK_HOST=localhost
MOCK_PORT=8888

# false - мок уже поднят снаружи (docker), тесты его не стартуют
MOCK_AUTOSTART=true

# Подробный лог запросов/ответов в консоль
SHOW_CONSOLE_LOG=true
SHOW_HEADERS=false
